[
  {
    "email": "petugas1@gmail.com",
    "password": "PasswordBps123!"
  },
  {
    "email": "petugas2@gmail.com",
    "password": "PasswordBps123!"
  },
  {
    "email": "petugas3@gmail.com",
    "password": "PasswordBps123!"
  }
]
